.profile {
  display: flex;
  justify-content: center;
  gap: 3rem;

  &__item {
    background-color: $color-grey-dark-2;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    &-name {
      color: $color-grey-light-1;
      padding: 0.8rem 0;
      font-weight: 500;
    }

    &-value {
      font-weight: 700;
    }

    &-bar {
      background-color: $color-grey-light-1;
      width: 2px;
      height: 100%;
      border-radius: 0.8rem;
    }
  }
}
